.card {
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 1.0);
	border-radius: 6px;
	margin: 20px;
}

.john {
	width: 100px;
	height: 175px;
	border-radius: 8px;
}

.sara {
	height: 175px;
	border-radius: 8px;
}

.curro {
	height: 175px;
	width: 100px;
}

.johnny {
	margin-left: 19px;
}